# Programming for Data Analysis

## Project 2019

https://www.cso.ie/en/releasesandpublications/ep/p-1916/1916irl/people/names/

https://www.independent.ie/irish-news/revealed-top-20-irish-surnames-31414892.html

https://ie.soccerway.com/players/players_abroad/ireland-republic/

https://en.wikipedia.org/wiki/List_of_Irish_counties_by_population

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [62]:
df_fornames = pd.read_csv("data/fornames.csv")

In [63]:
df_surenames = pd.read_csv("data/surname.csv")

In [64]:
df_leagues = pd.read_csv("data/leagues.csv")

In [65]:
df_county = pd.read_csv("data/population_per_county.csv")

Name, Surname, Age, County, Position, League

## Name

In [66]:
df_fornames.head()

     Name  Qty  Percentage
0    Jack  786    0.055705
1   James  695    0.049256
2  Daniel  638    0.045216
3   Conor  581    0.041176
4    Seán  526    0.037279

In [84]:
forname_array = df_fornames["Name"].tolist()
forname_percent = df_fornames["Percentage"].tolist()
#print(forname_array)
#print(forname_percent)


forname = np.random.choice(forname_array, 1, p=forname_percent)
F_name = str(forname)

print(F_name)
type(forname)

['Kyle']

numpy.ndarray

## Surname

In [78]:
df_surenames.head()

    Surname
0    Murphy
1     Kelly
2     Byrne
3      Ryan
4   O'Brien

In [69]:
surname = df_surenames["Surname"]
print(surname)

0          Murphy
1           Kelly
2           Byrne
3            Ryan
4         O'Brien
5           Walsh
6      O'Sullivan
7        O'Connor
8           Doyle
9        McCarthy
10        O'Neill
11          Lynch
12       O'Reilly
13          Dunne
14       McDonagh
15        Brennan
16     Fitzgerald
17           Daly
18       Kavanagh
19          Nolan
Name: Surname, dtype: object

In [81]:
S_name = surname[int(np.random.choice(19,1))]
type(S_name)

str

## Age

In [116]:
s = np.random.triangular(16, 18, 33, 100)

In [117]:
print(s)

[22.31122139 23.57586063 19.1513891  19.67046645 22.45041092 22.33524763
 26.48688007 19.19267799 24.30281127 30.39395775 17.23082823 21.39308454
 19.06965915 18.50417553 22.44680787 24.67653816 20.58065954 19.67765943
 22.02996573 30.28592312 22.79482363 17.26351586 22.78100951 29.25551354
 25.99835568 25.64197561 23.98853486 24.24821506 31.2989933  25.36295786
 18.25870047 29.10354498 16.63001336 31.59928285 27.16379234 17.61780729
 26.84653528 24.32838697 27.80909778 22.02401639 27.32180602 22.94171495
 25.08378462 17.18516118 26.0033107  16.99915002 27.00773814 19.12342133
 18.65017197 17.87593465 26.90624561 16.76911701 24.99622164 23.76733408
 24.93579636 17.82768461 25.52127615 25.86116981 24.70933733 23.72533504
 25.7028618  27.48966241 19.34917697 17.82759808 24.5485704  27.30959731
 21.81404425 24.96735626 21.01659662 28.43684953 21.50154716 21.11061492
 20.54775343 26.17762933 23.08352351 19.20648205 19.51249336 24.33202846
 22.04800048 17.80063242 24.34930379 19.05725115 28.44789875 23.85126602
 21.37874679 22.85489434 20.42380621 19.98575259 28.45639562 26.18233005
 27.58674817 28.5121756  21.61925856 17.9412509  19.51790556 30.62525269
 18.03064107 20.33503901 24.14311625 21.52722385]

## County

In [71]:
df_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
County        32 non-null object
Population    32 non-null float64
Province      32 non-null object
dtypes: float64(1), object(2)
memory usage: 848.0+ bytes

In [92]:
df_county.head()

   County  Population  Province
0  Dublin   1347359.0  Leinster
1  Antrim    618108.0    Ulster
2    Cork    542868.0   Munster
3    Down    531665.0    Ulster
4  Galway    258058.0  Connacht

In [99]:
#print("League - Percentage Breakdown of the 244 entries")
#print(df_county.groupby(['County'])['Percentage']
pop = df_county['Population'].sum()
print(pop)
df_county['propibility'] = df_county['Population'] / pop

6573732.0

In [100]:
df_county.head()

   County  Population  Province  propibility
0  Dublin   1347359.0  Leinster     0.204961
1  Antrim    618108.0    Ulster     0.094027
2    Cork    542868.0   Munster     0.082581
3    Down    531665.0    Ulster     0.080877
4  Galway    258058.0  Connacht     0.039256

In [101]:
county_array = df_county["County"].tolist()
county_percent = df_county["propibility"].tolist()
#print(forname_array)
#print(forname_percent)


county1 = np.random.choice(county_array, 1, p=county_percent)
county = str(county1)

print(county)
type(forname)

['Limerick']

numpy.ndarray

## Position

In [131]:
# GK DF MD FW
# GK = 1/11  0.09
# DF = 4/11  0.36
# MD = 4/11  0.36
# FW = 2/11  0.19

#aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
#np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])

position = ['GK', 'DF', 'MD', 'FW']
pos = np.random.choice(position, 1, p=[0.09, 0.36, 0.36, 0.19])
print(pos[0])

FW

## League

In [74]:
df_leagues.head()

        Player          League                     Club
0      K. Long  Premier League                  Burnley
1  C. Kelleher  Premier League                Liverpool
2  L. Richards  Premier League  Wolverhampton Wanderers
3  G. Kilkenny  Premier League          AFC Bournemouth
4   S. Coleman  Premier League                  Everton

In [ ]:
#print("League - Percentage Breakdown of the 244 entries")
#print(df_leagues['League'].value_counts(normalize=True) * 100)

## Final Data Point

In [133]:
for i in range(100):
    name = np.random.choice(forname_array, 1, p=forname_percent)
    county = np.random.choice(county_array, 1, p=county_percent)
    age = np.random.triangular(16, 18, 33, 1)
    pos = np.random.choice(position, 1, p=[0.09, 0.36, 0.36, 0.19])
    print(str(name[0]) + "," + str(surname[int(np.random.choice(19,1))]) + "," + county[0] + "," + str(round(age[0],2)) + "," + str(pos[0]) + "," +)

Michael, McCarthy,Antrim,18.73,MD,
Matthew, McCarthy,Dublin,16.97,MD,
Luke, Doyle,Galway,28.23,DF,
Charlie, Kelly,Down,20.98,DF,
Alexander, O'Sullivan,Dublin,20.92,MD,
Luke, Walsh,Dublin,24.84,MD,
Seán, O'Brien,Dublin,20.87,MD,
Harry, Byrne,Down,20.96,FW,
Alexander, Kavanagh,Dublin,27.46,DF,
Conor, Dunne,Galway,22.25,MD,
Patrick, O'Sullivan,Londonderry,17.78,MD,
Liam, O'Connor,Dublin,18.19,DF,
Conor, Doyle,Antrim,22.21,DF,
Luke, O'Reilly,Antrim,24.18,MD,
David, O'Brien,Cork,20.32,MD,
Noah, McCarthy,Down,18.24,FW,
Oisin, Byrne,Antrim,21.84,DF,
Noah, Daly,Dublin,18.03,MD,
Noah, O'Neill,Roscommon,19.16,MD,
Jamie, O'Reilly,Roscommon,17.97,MD,
Oisin, Walsh,Cork,24.11,MD,
Harry, Doyle,Londonderry,17.75,DF,
Cian, Brennan,Dublin,25.08,DF,
Jack, Byrne,Galway,20.64,DF,
Finn, O'Brien,Galway,18.26,FW,
James, O'Sullivan,Down,18.39,FW,
Cillian, Lynch,Dublin,23.02,DF,
Luke, Byrne,Laois,19.06,MD,
Fionn, Kelly,Antrim,22.07,GK,
Adam, O'Brien,Galway,23.82,GK,
Jack, Brennan,Antrim,26.93,MD,
Adam, O'Sullivan,Down,24.5,FW,
Noah, Kelly,Limerick,16.86,DF,
Charlie, Byrne,Armagh,26.22,GK,
Fionn, Doyle,Dublin,18.08,DF,
Luke, O'Sullivan,Londonderry,22.02,MD,
Fionn, O'Brien,Kildare,20.36,FW,
Daniel, Lynch,Londonderry,24.42,GK,
Seán, Ryan,Wexford,27.59,FW,
Michael, Fitzgerald,Dublin,22.68,MD,
Alexander, O'Brien,Dublin,21.6,MD,
Cian, Ryan,Tyrone,22.82,GK,
Ben, Dunne,Down,17.49,DF,
Seán, O'Reilly,Dublin,21.44,GK,
Jack, Dunne,Dublin,21.25,MD,
Conor, Dunne,Dublin,27.77,FW,
Adam, Ryan,Dublin,19.39,MD,
Jack, Walsh,Fermanagh,21.61,MD,
Oisin, Dunne,Donegal,21.95,DF,
Alex, O'Brien,Cork,18.21,MD,
Darragh, Ryan,Monaghan,31.04,MD,
Dylan, Kelly,Antrim,24.76,DF,
Jake, Doyle,Dublin,18.92,MD,
James, Daly,Kildare,17.07,MD,
Thomas, Byrne,Fermanagh,17.57,FW,
Dylan, Byrne,Wicklow,23.83,MD,
Seán, Fitzgerald,Antrim,26.64,MD,
Thomas, Kavanagh,Cork,21.01,MD,
Oisin, Fitzgerald,Dublin,19.93,DF,
David, Byrne,Dublin,21.65,FW,
Thomas, O'Connor,Kildare,28.7,MD,
Finn, Brennan,Armagh,18.43,DF,
Conor, Kavanagh,Meath,19.06,MD,
Thomas, Lynch,Dublin,19.05,DF,
Joshua, Kavanagh,Kildare,22.76,MD,
Oliver, Brennan,Tipperary,23.79,MD,
Rian, O'Sullivan,Down,23.85,MD,
Dylan, Fitzgerald,Dublin,26.05,FW,
Luke, Lynch,Westmeath,18.41,FW,
Thomas, Byrne,Louth,16.97,FW,
Ryan, Walsh,Down,25.96,FW,
Thomas, Byrne,Londonderry,20.58,DF,
Ben, Murphy,Dublin,25.69,MD,
Jack, O'Reilly,Antrim,23.19,MD,
Cillian, Lynch,Down,27.59,DF,
Evan, Lynch,Dublin,18.12,MD,
Seán, Brennan,Wexford,20.68,DF,
Daniel, O'Connor,Armagh,27.83,MD,
John, McCarthy,Sligo,26.12,FW,
Harry, Dunne,Donegal,24.36,FW,
Charlie, O'Connor,Cork,26.92,GK,
Luke, Fitzgerald,Wexford,20.54,MD,
Michael, Brennan,Louth,17.27,MD,
Michael, Walsh,Dublin,18.23,FW,
Luke, Daly,Dublin,32.38,MD,
James, Kelly,Cavan,22.29,MD,
Ethan, Murphy,Dublin,23.18,GK,
Harry, Doyle,Kerry,31.87,MD,
Ryan, Kelly,Kildare,21.65,FW,
Cillian, Dunne,Laois,19.27,MD,
Noah, Brennan,Kildare,22.13,DF,
Liam, Kavanagh,Tyrone,18.36,DF,
Daniel, McDonagh,Westmeath,16.74,GK,
Cillian, O'Sullivan,Antrim,18.44,GK,
Aaron, Doyle,Down,19.19,MD,
Jamie, Fitzgerald,Limerick,30.34,DF,
Evan, O'Sullivan,Meath,20.86,DF,
Oliver, Fitzgerald,Kildare,16.58,MD,
Ethan, Daly,Down,18.65,MD,
Noah, Lynch,Donegal,18.56,DF,