# Programming for Data Analysis

## Project 2019

The following project consists of generating a dataset using numpy.random package, with the following steps.

* Choose a real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four diﬀerent variables

* Investigate the types of variables involved, their likely distributions, and their relationships with each other.

* Synthesise/simulate a data set as closely matching their properties as possible

* Detail your research and implement the simulation in a Jupyter notebook – the data set itself can simply be displayed in an output cell within the notebook.

I have an interest in Irish players playing in the English Soccer leagues, therfore I have chosen to base my data set around this phenomenon. Variables including Name, Surname, Age, County of Ireland, Playing Position and League in wich they play. I have used a number of sources for my data and these will be listed in each variable section.

In [2]:
# To begin with we add in all the packages we intend to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

As part of this project a number of external soucres of data are required and these datasets are stored in a subfolder within this repositiory.

## Name

The first variable chosen was the first name of the player. This variable was taken from the CSO website "the Top baby boys names 2014". Althoughthe source of the data may not be the most current the satisitcal calculations to follow hold though. The data was stored in a CSV file and stored in the data folder under the name formanes

In [3]:
df_fornames = pd.read_csv("data/fornames.csv")

In [7]:
df_fornames.head()

     Name  Qty  Percentage
0    Jack  786    0.055705
1   James  695    0.049256
2  Daniel  638    0.045216
3   Conor  581    0.041176
4    Seán  526    0.037279

The dataset has 3 number columns - Name, Qty and Percentage. This information can be used to randomly generate a boys name using the probility and the variable name. For this we used the 

**numpy.random.choice(a, size=None, replace=True, p=None)**

In [30]:
#First from the df_fornames we define the name array
forname_array = df_fornames["Name"].tolist()
# We then define the pobility of these names arrising
forname_percent = df_fornames["Percentage"].tolist()

forname = np.random.choice(forname_array, 1, p=forname_percent)
print(forname)

['Fionn']

https://www.cso.ie/en/releasesandpublications/ep/p-1916/1916irl/people/names/

## Surname

Simialrly to above the surname follows the same sequence as the forname. The independat.ie reveiled the top 20 Irish surnames in December 2019. We then assumed these to be the surename variables. This data was also stored as a CSV file and stored in data folder.

In [4]:
df_surenames = pd.read_csv("data/surname.csv")

In [9]:
df_surenames.head()

   Surname
0   Murphy
1    Kelly
2    Byrne
3     Ryan
4  O'Brien

For this variable we have no quanitiy or percentage breakdown - therefore we give them all equal likelyhood of accurance 1/20.

In [32]:
surname = df_surenames["Surname"]
S_name = surname[int(np.random.choice(19,1))]
print(S_name)

Doyle

https://www.independent.ie/irish-news/revealed-top-20-irish-surnames-31414892.html

## Age

In [12]:
age = np.random.triangular(16, 18, 33, 100)

In [13]:
print(age)

[25.78060993 20.48187959 18.53622391 19.19293431 22.82384606 22.19027492
 18.1447278  25.44557899 20.51288924 26.71069903 23.05190679 19.0444804
 18.31647266 18.26698875 22.87086905 17.36110136 27.57600469 18.15184773
 17.64879346 26.47782062 16.8444006  29.84576408 26.62402973 17.15586304
 23.2075827  18.82847386 18.36240257 17.98033873 21.46072846 20.57503975
 16.95359032 19.66333996 20.90322914 24.74750777 22.65951706 17.24019466
 23.65761838 27.42666524 28.33642733 19.24512535 24.19842087 16.98291868
 21.01737787 19.58227182 23.86208023 16.25511774 22.33143289 19.66726597
 22.98473964 31.57723612 17.39387149 28.14040039 22.08814597 23.16897165
 25.96861816 21.6396781  21.80341646 27.04634424 29.62747289 20.667872
 24.17467738 24.33550644 24.05485231 24.28600277 25.01819482 19.75304706
 23.92251132 18.96791823 26.05800972 20.12205215 23.47839316 18.62258683
 18.39742898 21.82065253 25.69697856 26.93645594 30.70720222 24.9095817
 22.2417301  29.74241623 22.21084009 22.14301724 18.17899589 18.48888902
 19.11096796 22.48585036 24.67976571 18.96466596 18.56637147 21.36236362
 17.91615622 28.6825553  19.95155957 31.96740597 26.69044314 24.90266594
 19.29744418 25.591859   16.62516543 17.11709355]

## County

In [6]:
df_county = pd.read_csv("data/population_per_county.csv")

In [14]:
df_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
County        32 non-null object
Population    32 non-null float64
Province      32 non-null object
dtypes: float64(1), object(2)
memory usage: 848.0+ bytes

In [15]:
df_county.head()

   County  Population  Province
0  Dublin   1347359.0  Leinster
1  Antrim    618108.0    Ulster
2    Cork    542868.0   Munster
3    Down    531665.0    Ulster
4  Galway    258058.0  Connacht

In [16]:
#print("League - Percentage Breakdown of the 244 entries")
#print(df_county.groupby(['County'])['Percentage']
pop = df_county['Population'].sum()
print(pop)
df_county['propibility'] = df_county['Population'] / pop

6573732.0

In [17]:
df_county.head()

   County  Population  Province  propibility
0  Dublin   1347359.0  Leinster     0.204961
1  Antrim    618108.0    Ulster     0.094027
2    Cork    542868.0   Munster     0.082581
3    Down    531665.0    Ulster     0.080877
4  Galway    258058.0  Connacht     0.039256

In [18]:
county_array = df_county["County"].tolist()
county_percent = df_county["propibility"].tolist()
#print(forname_array)
#print(forname_percent)


county1 = np.random.choice(county_array, 1, p=county_percent)
county = str(county1)

print(county)
type(forname)

['Dublin']

numpy.ndarray

https://en.wikipedia.org/wiki/List_of_Irish_counties_by_population

## Position

In [19]:
# GK DF MD FW
# GK = 1/11  0.09
# DF = 4/11  0.36
# MD = 4/11  0.36
# FW = 2/11  0.19

#aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
#np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])

position = ['GK', 'DF', 'MD', 'FW']
pos = np.random.choice(position, 1, p=[0.09, 0.36, 0.36, 0.19])
print(pos[0])

DF

## League

In [5]:
df_leagues = pd.read_csv("data/leagues.csv")

In [20]:
df_leagues.head()

        Player          League                     Club
0      K. Long  Premier League                  Burnley
1  C. Kelleher  Premier League                Liverpool
2  L. Richards  Premier League  Wolverhampton Wanderers
3  G. Kilkenny  Premier League          AFC Bournemouth
4   S. Coleman  Premier League                  Everton

In [21]:
y= df_leagues['League'].value_counts(normalize=True)
league_prob = y.values
league_name = y.index

league = np.random.choice(league_name, 1, p=league_prob)
print(league[0])

National League

https://ie.soccerway.com/players/players_abroad/ireland-republic/

## Final Data Point

In [22]:
df_rand_players = pd.DataFrame(columns=['Forname','Surname','County','Age','Position','League'])

In [23]:
surname = df_surenames["Surname"]
for i in range(10):
    name = np.random.choice(forname_array, 1, p=forname_percent)
    player_surname = surname[int(np.random.choice(19,1))]
    county = np.random.choice(county_array, 1, p=county_percent)
    age = np.random.triangular(16, 18, 33, 1)
    pos = np.random.choice(position, 1, p=[0.09, 0.36, 0.36, 0.19])
    league = np.random.choice(league_name, 1, p=league_prob)
    player_details = (str(name[0]) + "," + str(player_surname) + "," + county[0] + "," + str(round(age[0],2)) + "," + str(pos[0]) + "," + str(league[0]))
    print(player_details)
    df_rand_players = df_rand_players.append({'Forname': name[0],
                                           'Surname': player_surname,
                                           'County': county[0],
                                           'Age': round(age[0],2),
                                           'Position': pos[0],
                                           'League': league[0]}, ignore_index=True)

Oliver,O'Neill,Dublin,17.51,MD,Championship
Cillian,Kavanagh,Down,20.07,DF,Non League Div One
Oliver,Ryan,Mayo,19.69,DF,League Two
Oisin,Byrne,Roscommon,19.54,MD,League Two
Michael,O'Connor,Limerick,20.55,GK,National League
Kyle,Doyle,Down,21.56,MD,League Two
Daniel,O'Connor,Dublin,17.07,FW,Non League Premier
Luke,Fitzgerald,Antrim,22.67,DF,National League N/S
Harry,O'Reilly,Dublin,20.94,DF,League One
Kyle,Dunne,Waterford,20.79,MD,Championship

In [24]:
print(df_rand_players)

   Forname     Surname     County    Age Position               League
0   Oliver     O'Neill     Dublin  17.51       MD         Championship
1  Cillian    Kavanagh       Down  20.07       DF   Non League Div One
2   Oliver        Ryan       Mayo  19.69       DF           League Two
3    Oisin       Byrne  Roscommon  19.54       MD           League Two
4  Michael    O'Connor   Limerick  20.55       GK      National League
5     Kyle       Doyle       Down  21.56       MD           League Two
6   Daniel    O'Connor     Dublin  17.07       FW   Non League Premier
7     Luke  Fitzgerald     Antrim  22.67       DF  National League N/S
8    Harry    O'Reilly     Dublin  20.94       DF           League One
9     Kyle       Dunne  Waterford  20.79       MD         Championship

In [25]:
#df_rand_players.drop(df_rand_players.index, inplace=True)
#df_rand_players.drop(['New_Columns'], axis=1)

In [26]:
if "Irish_Caps" not in df_rand_players:
    df_rand_players["Irish_Caps"] = ""

for index, row in df_rand_players.iterrows():
    age = row['Age']
    league = row['League']
    cap = ''
    if age < 20 and league=='Premier League':
        cap = np.random.random_integers(1, 10, 1)
    elif age >= 20 and league=='Premier League':
        cap = np.random.random_integers(1, 25, 1)
    elif age >= 28 and league=='Premier League':
        cap = np.random.random_integers(1, 40, 1)
    elif age >= 20 and league=='Championship':
        cap = np.random.random_integers(1, 2, 1)
    elif age >= 20 and league=='Championship':
        cap = np.random.random_integers(1, 5, 1)
    df_rand_players.at[index, 'Irish_Caps'] = cap

C:\Users\eogha\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: DeprecationWarning: This function is deprecated. Please call randint(1, 2 + 1) instead
  from ipykernel import kernelapp as app

In [27]:
print(df_rand_players)

   Forname     Surname     County    Age Position               League  \
0   Oliver     O'Neill     Dublin  17.51       MD         Championship
1  Cillian    Kavanagh       Down  20.07       DF   Non League Div One
2   Oliver        Ryan       Mayo  19.69       DF           League Two
3    Oisin       Byrne  Roscommon  19.54       MD           League Two
4  Michael    O'Connor   Limerick  20.55       GK      National League
5     Kyle       Doyle       Down  21.56       MD           League Two
6   Daniel    O'Connor     Dublin  17.07       FW   Non League Premier
7     Luke  Fitzgerald     Antrim  22.67       DF  National League N/S
8    Harry    O'Reilly     Dublin  20.94       DF           League One
9     Kyle       Dunne  Waterford  20.79       MD         Championship

  Irish_Caps
0
1
2
3
4
5
6
7
8
9        [1]

In [28]:
df_rand_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
Forname       10 non-null object
Surname       10 non-null object
County        10 non-null object
Age           10 non-null float64
Position      10 non-null object
League        10 non-null object
Irish_Caps    10 non-null object
dtypes: float64(1), object(6)
memory usage: 640.0+ bytes

In [29]:
df_rand_players.to_csv(r'generated_players.csv', index = None, header=True)