# Programming for Data Analysis

## Project 2019

https://www.cso.ie/en/releasesandpublications/ep/p-1916/1916irl/people/names/

https://www.independent.ie/irish-news/revealed-top-20-irish-surnames-31414892.html

https://ie.soccerway.com/players/players_abroad/ireland-republic/

https://en.wikipedia.org/wiki/List_of_Irish_counties_by_population

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [71]:
df_fornames = pd.read_csv("data/fornames.csv")

In [72]:
df_surenames = pd.read_csv("data/surname.csv")

In [73]:
df_leagues = pd.read_csv("data/leagues.csv")

In [74]:
df_county = pd.read_csv("data/population_per_county.csv")

Name, Surname, Age, County, Position, League

## Name

In [82]:
df_fornames.head()

     Name  Qty  Percentage
0    Jack  786    0.055705
1   James  695    0.049256
2  Daniel  638    0.045216
3   Conor  581    0.041176
4    Seán  526    0.037279

In [83]:
forname_array = df_fornames["Name"].tolist()
forname_percent = df_fornames["Percentage"].tolist()
print(forname_array)
print(forname_percent)


forname = np.random.choice(forname_array, 1, p=forname_percent)
F_name = str(forname)

print(F_name)

['Jack', 'James', 'Daniel', 'Conor', 'Seán', 'Adam', 'Luke', 'Noah', 'Harry', 'Charlie', 'Dylan', 'Alex', 'Oisin', 'Michael', 'Liam', 'Ryan', 'Thomas', 'Cian', 'Patrick', 'Cillian', 'Darragh', 'Jamie', 'David', 'Aaron', 'John', 'Fionn', 'Jake', 'Matthew', 'Nathan', 'Ben', 'Ethan', 'Evan', 'Finn', 'Kyle', 'Rian', 'Callum', 'Alexander', 'Joshua', 'Max', 'Oliver']
[0.055705174, 0.049255847, 0.045216159000000006, 0.041176471, 0.037278526, 0.034939759, 0.030970942999999997, 0.030758327000000002, 0.028206945, 0.027569099999999996, 0.027214741, 0.02714387, 0.027002126, 0.026860382999999998, 0.026789511000000002, 0.026435152000000003, 0.025655563, 0.025584692000000003, 0.025372077000000003, 0.024805103, 0.024592488, 0.023245925, 0.021686747000000003, 0.021474132000000003, 0.020765415, 0.019135365, 0.018639263, 0.018426648, 0.018072289, 0.017859674, 0.016583983, 0.015875266000000002, 0.015875266000000002, 0.015733522, 0.01523742, 0.015166549, 0.014953933, 0.01438696, 0.014245216000000002, 0.014103473]
['Jake']

## Surname

In [ ]:
df_surenames.head()

## Age

## County

In [ ]:
df_county.info()

In [ ]:
print("League - Percentage Breakdown of the 244 entries")
print(df_county.groupby(['County'])['Percentage']

## League

In [ ]:
df_leagues.head()

In [ ]:
print("League - Percentage Breakdown of the 244 entries")
print(df_leagues['League'].value_counts(normalize=True) * 100)