# Programming for Data Analysis

## Project 2019

https://www.cso.ie/en/releasesandpublications/ep/p-1916/1916irl/people/names/

https://www.independent.ie/irish-news/revealed-top-20-irish-surnames-31414892.html

https://ie.soccerway.com/players/players_abroad/ireland-republic/

https://en.wikipedia.org/wiki/List_of_Irish_counties_by_population

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [62]:
df_fornames = pd.read_csv("data/fornames.csv")

In [63]:
df_surenames = pd.read_csv("data/surname.csv")

In [64]:
df_leagues = pd.read_csv("data/leagues.csv")

In [65]:
df_county = pd.read_csv("data/population_per_county.csv")

Name, Surname, Age, County, Position, League

## Name

In [66]:
df_fornames.head()

     Name  Qty  Percentage
0    Jack  786    0.055705
1   James  695    0.049256
2  Daniel  638    0.045216
3   Conor  581    0.041176
4    Seán  526    0.037279

In [84]:
forname_array = df_fornames["Name"].tolist()
forname_percent = df_fornames["Percentage"].tolist()
#print(forname_array)
#print(forname_percent)


forname = np.random.choice(forname_array, 1, p=forname_percent)
F_name = str(forname)

print(F_name)
type(forname)

['Kyle']

numpy.ndarray

## Surname

In [78]:
df_surenames.head()

    Surname
0    Murphy
1     Kelly
2     Byrne
3      Ryan
4   O'Brien

In [69]:
surname = df_surenames["Surname"]
print(surname)

0          Murphy
1           Kelly
2           Byrne
3            Ryan
4         O'Brien
5           Walsh
6      O'Sullivan
7        O'Connor
8           Doyle
9        McCarthy
10        O'Neill
11          Lynch
12       O'Reilly
13          Dunne
14       McDonagh
15        Brennan
16     Fitzgerald
17           Daly
18       Kavanagh
19          Nolan
Name: Surname, dtype: object

In [81]:
S_name = surname[int(np.random.choice(19,1))]
type(S_name)

str

## Age

## County

In [71]:
df_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
County        32 non-null object
Population    32 non-null float64
Province      32 non-null object
dtypes: float64(1), object(2)
memory usage: 848.0+ bytes

In [92]:
df_county.head()

   County  Population  Province
0  Dublin   1347359.0  Leinster
1  Antrim    618108.0    Ulster
2    Cork    542868.0   Munster
3    Down    531665.0    Ulster
4  Galway    258058.0  Connacht

In [99]:
#print("League - Percentage Breakdown of the 244 entries")
#print(df_county.groupby(['County'])['Percentage']
pop = df_county['Population'].sum()
print(pop)
df_county['propibility'] = df_county['Population'] / pop

6573732.0

In [100]:
df_county.head()

   County  Population  Province  propibility
0  Dublin   1347359.0  Leinster     0.204961
1  Antrim    618108.0    Ulster     0.094027
2    Cork    542868.0   Munster     0.082581
3    Down    531665.0    Ulster     0.080877
4  Galway    258058.0  Connacht     0.039256

In [101]:
county_array = df_county["County"].tolist()
county_percent = df_county["propibility"].tolist()
#print(forname_array)
#print(forname_percent)


county1 = np.random.choice(county_array, 1, p=county_percent)
county = str(county1)

print(county)
type(forname)

['Limerick']

numpy.ndarray

## League

In [74]:
df_leagues.head()

        Player          League                     Club
0      K. Long  Premier League                  Burnley
1  C. Kelleher  Premier League                Liverpool
2  L. Richards  Premier League  Wolverhampton Wanderers
3  G. Kilkenny  Premier League          AFC Bournemouth
4   S. Coleman  Premier League                  Everton

In [ ]:
print("League - Percentage Breakdown of the 244 entries")
print(df_leagues['League'].value_counts(normalize=True) * 100)

## Final Data Point

In [103]:
for i in range(100):
    name = np.random.choice(forname_array, 1, p=forname_percent)
    county = np.random.choice(county_array, 1, p=county_percent)
    print(str(name[0]) + "," + str(surname[int(np.random.choice(19,1))]) + "," + county[0])

Charlie, Fitzgerald,Cork
Oliver, Walsh,Westmeath
Michael, McDonagh,Down
Jamie, Doyle,Wexford
Ethan, Ryan,Tipperary
Adam, Lynch,Dublin
Finn, Fitzgerald,Mayo
Seán, O'Brien,Tipperary
Michael, O'Neill,Cork
Michael, Byrne,Kildare
Darragh, McCarthy,Antrim
Ryan, Daly,Dublin
Ryan, Kavanagh,Antrim
Michael, Fitzgerald,Waterford
Daniel, Kavanagh,Donegal
Matthew, Kavanagh,Cork
Darragh, Lynch,Dublin
Daniel, Walsh,Galway
Fionn, O'Brien,Down
Aaron, McDonagh,Dublin
Cillian, Kavanagh,Donegal
Rian, Ryan,Limerick
Liam, O'Reilly,Clare
Liam, Brennan,Dublin
David, O'Reilly,Antrim
Rian, O'Neill,Dublin
Matthew, McCarthy,Antrim
Oisin, Ryan,Antrim
James, Byrne,Dublin
Finn, Doyle,Down
Alex, O'Neill,Dublin
Patrick, Dunne,Dublin
Aaron, Lynch,Monaghan
Jamie, O'Reilly,Cork
Aaron, O'Brien,Tipperary
John, Dunne,Cork
Liam, Daly,Down
Oisin, Dunne,Down
Oliver, McCarthy,Wexford
Charlie, McDonagh,Cork
Ethan, Ryan,Roscommon
Charlie, Byrne,Kerry
Conor, Ryan,Kildare
Matthew, Dunne,Dublin
David, Byrne,Kerry
Ethan, Byrne,Cork
Noah, O'Reilly,Down
Thomas, McCarthy,Meath
Luke, Ryan,Antrim
Luke, O'Reilly,Kildare
Kyle, O'Reilly,Louth
Oisin, Byrne,Londonderry
Charlie, Kelly,Dublin
Jack, O'Neill,Kerry
Alex, O'Brien,Londonderry
Adam, Kelly,Down
Callum, O'Connor,Armagh
Daniel, O'Reilly,Meath
James, Walsh,Galway
Adam, Kavanagh,Dublin
Seán, Byrne,Dublin
Conor, O'Reilly,Antrim
Oisin, Byrne,Dublin
John, Walsh,Dublin
Finn, Murphy,Dublin
Darragh, Doyle,Mayo
Aaron, Kelly,Wexford
Luke, Byrne,Down
Jack, Murphy,Tyrone
Alexander, Ryan,Meath
Nathan, Ryan,Antrim
Liam, O'Reilly,Cork
Kyle, Fitzgerald,Down
Ben, O'Neill,Dublin
Adam, McCarthy,Antrim
Joshua, Walsh,Dublin
Darragh, Fitzgerald,Sligo
Michael, Walsh,Antrim
Aaron, Lynch,Antrim
Aaron, O'Sullivan,Down
Rian, O'Neill,Waterford
David, Brennan,Dublin
Luke, McCarthy,Antrim
Matthew, Byrne,Dublin
Noah, McDonagh,Dublin
Ben, Doyle,Dublin
Thomas, Byrne,Donegal
Kyle, Brennan,Dublin
Dylan, Dunne,Londonderry
James, Kelly,Cavan
Dylan, Lynch,Wexford
Daniel, Walsh,Carlow
Luke, O'Brien,Donegal
Cillian, Fitzgerald,Cork
Aaron, O'Connor,Donegal
Michael, Fitzgerald,Louth
Jake, Lynch,Down
Luke, O'Reilly,Dublin
Ryan, Walsh,Cork
Jamie, Ryan,Louth